body {
	font-family: Helvetica, Geneva, sans-sefif;
	background-color: black;
    background-image: url(../Imagens/fundo.jpg);
	color: white;
}

img {
	width: 25em;
}

h1 {
	margin: 0;
	padding: 0 0 0.05em 0;
	text-align: center;
	background-color: #6060FF;
	font-size: 3rem;
}

h2 {
	text-align: center;
	font-size: 2rem;
}

p {
	margin: 2em;
	font-size: 1.4rem;
}

table{
	border-collapse: collapse;
	margin: auto;
}

thead {
	background-color:#6060FF;
}

tbody {
	background-color:#8080FF;
}

th, td {
	padding: 0.5em;
/*
	border-width: 1px;
	border-style: solid;
	border-color: white;
*/
}

.text-align-right {
	text-align: right;
}

ol {
    text-align: center;
    font-size: 1.5rem;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:active {
	color: red;
}

#nav_header {
	background-color: #8080FF;
	margin: 4px;
	padding: 2px;
	font-size: 2rem;
	text-align: center;
}

#img1 {
	float: left;
	margin-top: 30px;
	margin-left: 15%;
	margin-right: 16px;
	text-align: center;
}

#img2 {
	float: right;
	margin-right: 15%;
	margin-left: 16px;
}

#msg {
	font-family: Verdana; 
	font-size: 60px;
	margin-top: 10%;
}

#nav_bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8080FF;
	display: flex;
	justify-content: center;
}

#nav_bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav_bar li a:hover {
	background-color: #6060F0;
}

#selected {
	background-color: #F00;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
